<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
      <!-- Brand -->
      <a class="navbar-brand" routerLink="/">
          <i class="bi bi-bank2"></i> InfinityBank
      </a>


      <!-- Right Side Navbar -->
      <div class="right-navbar" [class.active]="isOpen">
          <!-- Toggle Button -->
          <button class="toggle-btn" (click)="toggleNav()">
              <i class="bi" [class.bi-list]="!isOpen" [class.bi-x-lg]="isOpen"></i>
          </button>

          <!-- Nav Content -->
          <div class="nav-content" [class.visible]="isOpen">
              <nav class="nav-links">
                  <a routerLink="/login" routerLinkActive="active" class="nav-item">
                      <i class="bi bi-box-arrow-in-right"></i>
                      <span>Login</span>
                  </a>
                  <a routerLink="/register" routerLinkActive="active" class="nav-item">
                      <i class="bi bi-person-plus"></i>
                      <span>Register</span>
                  </a>
                  <a routerLink="/apply" routerLinkActive="active" class="nav-item">
                      <i class="bi bi-file-earmark-text"></i>
                      <span>Apply Online</span>
                  </a>
              </nav>
              <!-- Overlay -->
              <div class="overlay" [class.active]="isOpen" (click)="closeNav()"></div>
          </div>
      </div>
  </div>
</nav>